<%- include('_layouts/header') -%>



    <div class="container" id="home_back">
        <div id="welcome" class="text-slider2">
            <p class="welcome-text">welcome to MeshMall.</p>
            <p class="welcome-text">www.meshmall.co.ke</p>
            
            
           </div>
        
            <div id="show-case">

                <div class="imgslider imgsl">
                    <a href="/products/all-products"><img class="img-resp" src="https://i.postimg.cc/xTPzR1BT/product-7.png"></a>
                    <a class="img-others" href="#">Quick Delivery</a>
                    <a class="img-others" href="#">Quick Delivery</a>
                </div>

                <div class="imgslider imgsl">
                    <a href="/products/all-products"><img class="img-resp" src="https://i.postimg.cc/CK8McvdH/product-2.png"></a>
                    <a class="img-others" href="#">Quick Delivery</a>
                </div>

                <div class="imgslider imgsl">
                    <a href="/products/all-products"><img class="img-resp" src="https://i.postimg.cc/rsfqD3Yc/product-6.png"></a>
                    <a class="img-others" href="#">Quick Delivery</a>
                </div>

                <div class="imgslider imgsl">
                    <a href="/products/all-products"><img class="img-resp" src="https://i.postimg.cc/tJ4jGDRc/product-4.png"></a>
                    <a class="img-others" href="#">Quick Delivery</a>
                </div>

                <div class="imgslider imgsl">
                    <a href="/products/all-products"><img class="img-resp" src="https://i.postimg.cc/ZnhC20kF/Huawei-P30-Pro-black-lrg1-en.png"></a>
                    <a class="img-others" href="#">Quick Delivery</a>
                </div>

                <div class="imgslider imgsl">
                    <a href="/products/all-products"><img class="img-resp" src="https://i.postimg.cc/MTJ6K4sz/p30-pro-blue.png"></a>
                    <a class="img-others" href="#">Quick Delivery</a>
                </div>
                
            </div>
            

            <!--SECOND SECTION BEGIN-->
        <div class="button-nav1">
           <div class="button-items">
            <i class="fa fa-shopping-basket icon1" aria-hidden="true"></i>
            <a href="/products/all-products">MeshMall</a>
           </div> 

           <div class="button-items" >
            <i class="fa fa-shopping-bag icon2" aria-hidden="true"></i>
            <a href="/products/all-products">Shop Now</a>
           </div> 

           <div class="button-items">
            <i class="fa fa-percent icon3" aria-hidden="true"></i>
            <a href="/">Up To 50% Off</a>
           </div> 

           <div class="button-items">
            <i class="fa fa-car icon4" aria-hidden="true"></i>
            <a href="/">4hrs to 48hrs Delivery Time</a>
           </div> 
           
           
     </div>
     <br>
     <br>
     <hr>
        </div>
        
        
        
        <script>
        $(document).ready(function()
        {
            $('.imgslider:gt(0)').hide();
            setInterval(function() {
                $(".imgslider:first-child").fadeOut(3000).next(".imgslider").fadeIn(3000).end().appendTo("#show-case")
        }, 4000);
        

        $('.welcome-text:gt(0)').hide();
            setInterval(function() {
                $(".welcome-text:first-child").fadeOut(100).next(".welcome-text").fadeIn(3000).end().appendTo("#welcome")
        }, 3000);
        
        });
        </script>
        </body>
        </html>

<%- include('_layouts/footer') -%>

<!--<%- content %>-->
