#home_back{
    background-color: #f2f2f2 !important;
}
img.pimage {
    width: 150px;
}

a.pa {
    display: inline-block;
    height: 160px;
}

.row.products .p {
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 2px !important;
}

img.spi {
    width: 100%;
}

ul.gallery li {
    display: inline-block;
    margin: 20px;
    list-style: none;
}

img.cpi {
    width: 100px;
}

table.alignmiddle td {
    vertical-align: middle !important;
}

.pp {
    position: absolute;
    left: -3000px;
}

.ajaxbg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, .8);
    z-index: 2;
    display: none;
}

.ajaxinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
/* mine 
*/

.header-nav{
    color: black !important;
    background-color: #044949 !important;
    
    
}
.header-list{
    color: black !important;
}


/*discount */

.discount{
    color: #ed7c47;
    position: absolute;
    font-size: 10px;
    margin-top: 0px;
    margin-left: 40%;
    width: 100px;
    border-radius: 5px;
    background-color: #f5e3ae;
}
.discount:hover{
    color:orchid;
    background-color: gray;
}
.strike{
    color: #595959;
}
.img-container{
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    
    
}

/*search in header section */
.Details-button{
    color:olive;
    border: 1px solid gray;
    border-radius: 5px;
    font-family: 'Oswald';
    font-weight: bold;
    background-color:white;
}
.Details-button:hover{
    color: orange;
}


/*
Home Page slider 
*/

#show-case
{
    box-shadow:1px 1px 5px 2px wheat;
    border-raduius:10px;
    height:500px;
    margin:10px auto;
    width:100%;
    margin-left: 1px;
    margin-top: 20px;
    background-color: #f2f2f2;
}
.img-resp
{
       position:absolute;
       margin-top: 10px;
       width:550px;
       height:450px;
}
.imgsl{
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
}
.slider-top{
    display: flex;
    flex-direction: row ;
}
.stream{
    margin-left: 5px !important;
}

/* BOUNCING 
*/
.stage {
    border-bottom: 3px solid #444;
    display: flex;
    height: 330px;
    width: 100%;
}
.box {
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-color: #F44336;
    height: 200px;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
    width: 200px;
}
.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: linear;
}
@keyframes bounce-1 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-100px); }
    100% { transform: translateY(0); }
}

.text-slider{
    background-color: #520066;
    color: whitesmoke;
    font-weight: bolder;
    height: 100px;
    width: 100%;
}
.text-slider p{
    animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 50%; 
      opacity: 5;
    }
    75% {
        font-size: 20px;
        margin-left: 25%;
        width: 50%;
      }
  
    to {
      margin-left: 0%;
      width: 50%;
    }
    
      
  }

  /*slider two 
  */
  .slider2{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      color: black;
      background-color:white ;
      width: 100%;
      height: 100px;
      font-weight: bold;
      border-radius: 10px;
  }

  #shop_now{
      /*background-color: teal;*/
      color: teal;
      font-size: 30px;
      width: 150px;
      text-decoration: none;
      
  }
  #shop_now:hover{
      color: orange;
      
  }
  #icons_home{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: row;
      color: white;
      background-color: teal;
      font-size: 20px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
  }
  .advert{
      width: 200px !important;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: row;
  }
  .spanr{
      color: red;
  }
  